.base-header-container{
    background-color: rgba(80, 38, 38, 0.686);
    padding: 1em;
    display: flex;
    
}
.base-header{
    display: flex;
}
.left-side{
    justify-content: left;
    list-style: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 300px;
}
.right-side{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 300px;
}
.right-side > p{
    margin-left: 40px;
}