.base-header-container{
    background-color: rgba(80, 38, 38, 0.686);
    padding: 30px;
    min-width: auto;
    margin: 0;
}
.base-header{
    display: flex;
    margin-bottom: 250px;
    justify-content: center;
}
.left-side{
    justify-content: left;
    list-style: left;
    font-family: 'Courier New', Courier, monospace;
}
.right-side{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 50px;
}

.right-side > p{
    margin-left: 40px;
}
.base-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.first-content-container{
    background-color: #2a997b3b;
    display: flex;

    margin: 50px;
    border: 20px;

    height: 420px;
}
.first-content-left{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: grid;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin-right: 100px;
    margin-left: 100px;

    max-height: 400px;
    min-height: 420px;
    width: 500px;
    max-width: 100%;
    
}
.text-container-left > h3{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}
.text-container-left > p{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}


